{% extends 'base.html' %}

  {% block content %}

  <style>
    /* Style the legolisting content */
    .legolisting {
      display: inline-block;
      background-color: white;
      color: #E3000B;
      padding: 10px;
      margin: 15px;
      border: 15px #E3000B;
    }
    .legolistinglink {
      background-color: #E3000B;
      color: #FFED00;
      padding: 1em 1.5em;
      text-decoration: none;
      text-transform: uppercase;

    }
    .legolink {
      
      color: #E3000B;
      
    }
    div {
      resize: both;
      overflow: auto;
    }
    img {
      max-width: 100%;
      height: auto;
    }
  </style>
  <h2>Legos</h2>
  <a class="legolistinglink" href="{{ url_for('legos.search') }}">Search</a>
  <br>
  <br>
  <br>
  <a class="legolistinglink" href="{{ url_for('legos.categoryselect') }}">Categories</a>

  <h2>{{ firsttitle }}</h2>

  <div style="column-count: 2; align-self: auto;">

    {% for lego in top %}
        <div class="legolisting">
        <img src={{ lego[6] }}>
        <br>
        
        <a class="legolink" style="text-align:center; font-size:200%" href="{{ url_for('legos.legopage', name = lego[2], theme = lego[0], year = lego[1], minifigs = lego[3], pieces = lego[4], ImageURL = lego[6] ) }}">{{ lego[2] }}</a> 
        
        <h1 style="text-align: center;">${{ lego[5] }}</h1>
        <h2> Theme: {{ lego[0] }} </h2>
        <h3> Year: {{ lego[1] }}, Pieces: {{ lego[4]}}, Minifigs: {{ lego[3] }} </h3>
        
        </div>
        {% if not loop.last %}
        <hr>
        {% endif %}
    {% endfor %}
  </div>

  <h2>Budget Buys</h2>

  <div style="column-count: 2;">

    {% for lego in budgetbuys %}
        <div class="legolisting">
        <img src={{ lego[6] }}>
        <br>
        
        <a class="legolink" style="text-align:center; font-size:200%" href="{{ url_for('legos.legopage', name = lego[2], theme = lego[0], year = lego[1], minifigs = lego[3], pieces = lego[4], ImageURL = lego[6] ) }}">{{ lego[2] }}</a> 
        
        <h1 style="text-align: center;">${{ lego[5] }}</h1>
        <h2> Theme: {{ lego[0] }} </h2>
        <h3> Year: {{ lego[1] }}, Pieces: {{ lego[4]}}, Minifigs: {{ lego[3] }} </h3>
        
        </div>
        {% if not loop.last %}
        <hr>
        {% endif %}
    {% endfor %}
  </div>

  <h2>Elite Sets</h2>

  <div style="column-count: 2;">

    {% for lego in elite %}
        <div class="legolisting">
        <img src={{ lego[6] }}>
        <br>
        
        <a class="legolink" style="text-align:center; font-size:200%" href="{{ url_for('legos.legopage', name = lego[2], theme = lego[0], year = lego[1], minifigs = lego[3], pieces = lego[4], ImageURL = lego[6] ) }}">{{ lego[2] }}</a> 
        
        <h1 style="text-align: center;">${{ lego[5] }}</h1>
        <h2> Theme: {{ lego[0] }} </h2>
        <h3> Year: {{ lego[1] }}, Pieces: {{ lego[4]}}, Minifigs: {{ lego[3] }} </h3>
        
        </div>
        {% if not loop.last %}
        <hr>
        {% endif %}
    {% endfor %}
  </div>

  <h2>Quick Builds</h2>

  <div style="column-count: 2;">

    {% for lego in quickbuild %}
        <div class="legolisting">
        <img src={{ lego[6] }}>
        <br>
        
        <a class="legolink" style="text-align:center; font-size:200%" href="{{ url_for('legos.legopage', name = lego[2], theme = lego[0], year = lego[1], minifigs = lego[3], pieces = lego[4], ImageURL = lego[6] ) }}">{{ lego[2] }}</a> 
        
        <h1 style="text-align: center;">${{ lego[5] }}</h1>
        <h2> Theme: {{ lego[0] }} </h2>
        <h3> Year: {{ lego[1] }}, Pieces: {{ lego[4]}}, Minifigs: {{ lego[3] }} </h3>
        
        </div>
        {% if not loop.last %}
        <hr>
        {% endif %}
    {% endfor %}
  </div>

  <h2>Long Builds</h2>

  <div style="column-count: 2;">

    {% for lego in longbuild %}
        <div class="legolisting">
        <img src={{ lego[6] }}>
        <br>
        
        <a class="legolink" style="text-align:center; font-size:200%" href="{{ url_for('legos.legopage', name = lego[2], theme = lego[0], year = lego[1], minifigs = lego[3], pieces = lego[4], ImageURL = lego[6] ) }}">{{ lego[2] }}</a> 
        
        <h1 style="text-align: center;">${{ lego[5] }}</h1>
        <h2> Theme: {{ lego[0] }} </h2>
        <h3> Year: {{ lego[1] }}, Pieces: {{ lego[4]}}, Minifigs: {{ lego[3] }} </h3>
        
        </div>
        {% if not loop.last %}
        <hr>
        {% endif %}
    {% endfor %}
  </div>

{% endblock %}
