{% extends 'base.html' %}

  {% block content %}

  <style>
    /* Style the legolisting content */
    .legopage {
      display: inline-block;
      background-color: #FFED00;
      color: #E3000B;
      padding: 10px;
      margin: 15px;
      border: 15px #E3000B;
    }

    .column {
      float: left;
      width: 50%;
      column-gap: 10px;

    }

    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
    img {
      max-width: 100%;
      height: auto;
    }
  </style>
  
  <div class="row">
  <div class = "column">
 
  
  <img src={{ onelego[7] }}>
  <h1>{{ onelego[3] }} </h1>
  
  <h2> Theme: {{ onelego[1] }} </h2>
  <h3> Year: {{ onelego[2] }}, Pieces: {{ onelego[5]}}, Minifigs: {{ onelego[4] }} </h3>
  
  <h1> {{ stock }} </h1>
  {% for sell in sellers %}
  <h3> Seller: {{sell[0] }}</h3>
  <h3> Quantity: {{sell[2] }} </h3>
  <form method="post" action="{{ url_for('legos.addtocart')}}">
    <input type="hidden" name= "legoid" id = "legoid" value = {{sell[1]}}>
    <input type="hidden" name= "sellerid" id = "sellerid" value = {{sell[0]}}>
    <label for="quantity">Quantity</label>
    <input type="quantity" name="quantity" id="quantity" required>
    <br>
    <input type="submit" value="Add to Cart">
  </form>
{% endfor %}
  <hr>
  
  </div>
  
  <div style="color: #E3000B; background-color: oldlace; border: #E3000B; " class = "column">
  {% if noreviews %}
    <h1> Reviews: </h1>
    <h3> {{ noreviews }} </h3>
  {% endif %}

  {% if avgReview %}
    <h1> Average rating: {{ avgReview }} stars </h1>
    <h3> <u>Reviews:</u> </h3>

    {% for review in reviews %}
      <h4> Rating: {{review[5] }}</h3>
      <h5> Comments: {{review[6] }} </h4>

  {% endfor %}
  {% endif %}
  </div>
  </div>
  </div>

{% endblock %}