{% extends 'base.html' %}



{% block content %}
<style>
    .accountpage {
        background-color: #ffffff;
        padding: 20px;
        border: 10px;
    }

    .accountpage a {
        background-color: #f1f1f1;
        color: black;
        padding: 16px;
        text-decoration: none;
        display: block;
    }

    .accountpage a:hover {
        background-color: #012169;
        color: white;
    } 
</style>

  <h3>Account Page</h3>
  <div class="accountpage">
    <a href="{{ url_for('legos.addlego') }}">Sell Set</a>
    <br>
    <a href="{{ url_for('cart.cartpage') }}">Cart</a>
    <br>
    <a href="{{ url_for('orders.purchase_history') }}">Order History</a>
    <br>
    <a href="{{ url_for('checkout.balancepage') }}">Add Balance</a>
    <br>
  </div>
  
{% endblock %}