{% extends 'base.html' %}

{% block content %}

  <h3>Register</h3>
  

  <form method="post">
    <label for="email">Email</label>
    <input type="email" name="email" id="email" required>
    <br>
    <label for="name">Name</label>
    <input type="name" name="name" id="name" required>
    <br>
    <label for="phonenumber">Phone Number</label>
    <input type="phonenumber" name="phonenumber" id="phonenumber" required>
    <br>
    <label for="address">Address</label>
    <input type="address" name="address" id="address" required>
    <br>
    <label for="photo">Photo Path</label>
    <input type="photo" name="photo" id="photo" required>
    <br>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
    <br>
    <label for="buyer" value="buyer"> I plan on buying</label>
    <input type="checkbox" id="buyer" name="buyer" value="buyer">
    <br>
    <label for="buyerid">Buyer ID (temp)</label>
    <input type="buyerid" name="buyerid" id="buyerid">
    <br>
    <label for="seller" value="seller"> I plan on selling</label>
    <input type="checkbox" id="seller" name="seller" value="seller">
    <br>
    <label for="sellerid">Seller ID (temp)</label>
    <input type="sellerid" name="sellerid" id="sellerid">
    <br>
    <input type="submit" value="Sign Up">
  </form>
  
{% endblock %}

