{% extends 'base.html' %}

{% block content %}

  <h3>Register</h3>
  

  <form method="post">
    <label for="email">Email</label>
    <input type="email" name="email" id="email" required>
    <br>
    <label for="text">Name</label>
    <input type="text" name="text" id="email" required>
    <br>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
    <br>
    <label for="buyer"> I plan on buying</label>
    <input type="checkbox" id="buyer" name="buyer" value="buyer">
    <br>
    <label for="seller"> I plan on selling</label>
    <input type="checkbox" id="seller" name="seller" value="seller">
    <br>
    <input type="submit" value="Sign Up">
  </form>
  
{% endblock %}

