{% extends 'base.html' %}

  {% block content %}

  <style>
    /* Style the legolisting content */
    .legolisting {
      display: inline-block;
      background-color: #f1f1f1;
      color: #012169;
      padding: 10px;
      margin: 15px;
      border: 15px #012169;
    }
  </style>
  <h2>{{ title }}</h2>
  <br>
  <a href="{{ url_for('legos.categoryselect') }}">Categories</a>

  <div style="column-count: 2;">

    {% for lego in category %}
        <div class="legolisting">
        <img src={{ lego[6] }}>
        
        <br>

        <a style="text-align:center; font-size:200%" href="{{ url_for('legos.legopage', theme = lego[0], year = lego[1] name = lego[2], minifigs = lego[3], pieces = lego[4], price = lego[5], imageURL = lego[6] ) }}">{{ lego[2] }}</a> 
        <h1 style="text-align: center;">${{ lego[5] }}</h1>
        <h2> Theme: {{ lego[0] }} </h2>
        <h3> Year: {{ lego[1] }}, Pieces: {{ lego[4]}}, Minifigs: {{ lego[3] }} </h3>
        
        </div>
        {% if not loop.last %}
        <hr>
        {% endif %}
    {% endfor %}
  </div>

{% endblock %}