{% extends 'base.html' %}

{% block content %}

<style>
    /* Style the legolisting content */
    img {
      height: 40px;
      width: 40px;
    }
  </style>

<h3>Profile Page</h3>

<body>
<b>Email: </b> {{ email }}
<br> <br>
<b>Name: </b> {{ name }}
<br> <br>
<b>Password: </b> {{ password }}
<br>
<form method="post">
    <label for="newpassword">Change Password</label>
    <input type="newpassword" name="newpassword" id="newpassword" required>
    <input type="submit" value="Change">
</form>
<br>
<b>Phone Number: </b> {{ phonenumber }}
<form method="post">
    <label for="newphonenumber">Update Phone Number</label>
    <input type="newphonenumber" name="newphonenumber" id="newphonenumber" required>
    <input type="submit" value="Update">
</form>
<br>
<b>Address: </b> {{ address }}
<form method="POST">
    <label for="newaddress">Update Address</label>
    <input type="newaddress" name="newaddress" id="newaddress" required>
    <input type="submit" value="Update">
</form>
<br>
<img src={{ photopath }}> 

<form method="post">
    <label for="photo"> Update Photo Path</label>
    <input type="photo" name="photo" id="photo" required>
    <input type="submit" value="Update">
</form>
<br>
<b>Security Question</b>(password recovery): {{securityquestion}}
<b>Security Question Answer:</b> {{ securityanswer }}
<form method="post">
    <label for="question">Change Security Question</label>
    <input type="question" name="question" id="question" required>
<br>
    <label for="answer">Change Answer</label> 
    <input type="answer" name="answer" id="answer" required>
    <input type="submit" value="Change">
</form>
<br>
<b>Buyer Status:</b>  {{ buyerstatus }}
<form method="post">
    <label for="buyer" value="buyer"> I am currently not a buyer, but I now plan on buying</label>
    <input type="checkbox" id="buyer" name="buyer" value="buyer">
<br>
    <input type="submit" value="Update">
</form>
<br>
<b>Seller Status:</b> {{ sellerstatus}}
    <form method="post">
        <label for="seller" value="seller"> I am currently not a seller, but I now plan on selling</label>
        <input type="checkbox" id="seller" name="seller" value="seller">
        <br>    
        <input type="submit" value="Update">
    </form>

</body>

{% endblock %}